<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="submitFormulario()"
    >
      <!-- nombre -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            placeholder="Nombre del usuario"
          />
          <span *ngIf="campoNoValido('nombre')" class="form-text text-danger"
            >Debe de ser en formato de nombre y apellido</span
          >
        </div>
      </div>

      <!-- email -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="Email del usuario"
          />
          <span *ngIf="campoNoValido('email')" class="form-text text-danger"
            >El correo es obligatorio</span
          >
        </div>
      </div>

      <!-- username -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            formControlName="username"
            class="form-control"
            placeholder="Nombre código del usuario"
          />
          <span *ngIf="campoNoValido('username')" class="form-text text-danger"
            >Escribe un nombre de usuario valido</span
          >
        </div>
      </div>

      <!-- password -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            formControlName="password"
            class="form-control"
            placeholder="Password de su cuenta"
          />
          <span *ngIf="campoNoValido('password')" class="form-text text-danger"
            >La contraseña debe ser mayor de 6 caracteres</span
          >
        </div>
      </div>

      <!-- password2 -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input
            type="password"
            formControlName="password2"
            class="form-control"
            placeholder="Confirmar la contraseña"
          />
          <span *ngIf="campoNoValido('password2')" class="form-text text-danger"
            >Las contraseñas deben ser iguales</span
          >
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">Crear</button>
        </div>
      </div>
    </form>
  </div>
</div>

<h2>Form Valid: {{ miFormulario.valid }}</h2>
<h2>Form Errors: {{ miFormulario.errors | json }}</h2>
<h2>Nombre: {{ miFormulario.controls.nombre.errors | json }}</h2>
<h2>Email: {{ miFormulario.controls.email.errors | json }}</h2>
<h2>Username: {{ miFormulario.controls.username.errors | json }}</h2>
<h2>Password: {{ miFormulario.controls.password.errors | json }}</h2>
<h2>Password2: {{ miFormulario.controls.password2.errors | json }}</h2>
